<form
  class="row g-5"
  novalidate
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <!-- Company -->
  <div class="col-12">
    <label class="form-label fw-bolder text-dark"
      >{{ "Auth.Login.Label.Company" | translate }}
    </label>
    <input
      class="form-control"
      type="text"
      formControlName="company"
      [ngClass]="{
        'is-invalid':
          loginForm.controls['company'].invalid && loginFormSubmitAttempt,
        'is-valid':
          loginForm.controls['company'].valid && loginFormSubmitAttempt
      }"
    />
  </div>

  <!-- Username -->
  <div class="col-12">
    <label class="form-label fw-bolder text-dark">{{
      "Auth.Login.Label.Username" | translate
    }}</label>
    <input
      class="form-control"
      type="text"
      formControlName="username"
      [ngClass]="{
        'is-invalid':
          loginForm.controls['username'].invalid && loginFormSubmitAttempt,
        'is-valid':
          loginForm.controls['username'].valid && loginFormSubmitAttempt
      }"
    />
  </div>

  <!-- Password -->
  <div class="col-12">
    <label class="form-label fw-bolder text-dark">{{
      "Auth.Login.Label.Password" | translate
    }}</label>
    <input
      class="form-control"
      type="password"
      formControlName="password"
      [ngClass]="{
        'is-invalid':
          loginForm.controls['password'].invalid && loginFormSubmitAttempt,
        'is-valid':
          loginForm.controls['password'].valid && loginFormSubmitAttempt
      }"
    />
  </div>

  <!-- Submit -->
  <div class="col-12 mt-10">
    <button class="btn btn-primary btn-lg w-100" type="submit">
      {{ "Auth.Login.Button.SignIn" | translate }}
    </button>
  </div>
</form>
