<div class="card">
  <div class="card-body pb-0">
    <div>
      <!-- Begin: User Role Select -->
      <label class="form-label">
        {{ "Settings.UserRoles.Lable.UserRole" | translate }}
      </label>
      <div class="input-group">
        <!-- Select -->
        <select class="form-select" [formControl]="userRoleFc!">
          <option hidden></option>
          <option *ngFor="let userRole of userRoles" [ngValue]="userRole">
            {{ userRole.name }}
          </option>
        </select>

        <!-- Button -->
        <button class="btn btn-primary ms-3">
          {{ "Settings.UserRoles.Button.AddUserRole" | translate }}
        </button>
      </div>
      <!-- End: User Role Select -->
    </div>
    <div class="mt-10">
      <!-- Begin: Tab -->
      <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x fs-6">
        <li class="nav-item">
          <a
            class="nav-link text-active-primary active"
            data-bs-toggle="tab"
            href="#tab_pane_1"
          >
            {{ "Settings.UserRoles.Tab.AllowedPages" | translate }}
          </a>
        </li>
      </ul>
      <!-- End: Tab -->
    </div>
  </div>
</div>

<div class="flex-column-fluid card mt-10">
  <div class="card-body">
    <app-allowed-pages [rowData]="allowedPages"></app-allowed-pages>
  </div>
  <div class="card-footer d-flex justify-content-center py-5">
    <button class="btn btn-primary me-3">
      {{ "Common.Button.Ok" | translate }}
    </button>
    <button class="btn btn-light me-3">
      {{ "Common.Button.Cancel" | translate }}
    </button>
  </div>
</div>
