<!-- Begin: Inputs -->
<div class="mb-10">
  <h1 class="mb-5">Inputs</h1>
  <div class="border rounded p-10 mb-5">
    <div class="mb-5">
      <!-- Begin: Default Input -->
      <label class="form-label">Default Input</label>
      <input class="form-control" type="text" placeholder="name@example.com" />
      <!-- End: Default Input -->
    </div>

    <div class="mb-5">
      <!-- Begin: Required Input -->
      <label class="form-label required">Required Input</label>
      <input class="form-control" type="text" placeholder="name@example.com" />
      <!-- End: Required Input -->
    </div>

    <div class="mb-5">
      <!-- Begin: Readonly Input -->
      <label class="form-label">Readonly Input</label>
      <input
        class="form-control"
        type="text"
        placeholder="name@example.com"
        readonly
      />
      <!-- End: Readonly Input -->
    </div>
  </div>
</div>
<!-- End: Inputs -->

<!-- Begin: Selects -->
<div class="mb-10">
  <h1 class="mb-5">Selects</h1>
  <div class="border rounded p-10 mb-5">
    <div class="mb-5">
      <!-- Begin: Default Select -->
      <label class="form-label">Default Select</label>
      <select class="form-select">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <!-- End: Default Select -->
    </div>

    <div class="mb-5">
      <!-- Begin: Disabled Select -->
      <label class="form-label">Disabled Select</label>
      <select class="form-select" disabled>
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <!-- End: Disabled Select -->
    </div>
  </div>
</div>
<!-- End: Selects -->

<!-- Begin: Datalists -->
<div class="mb-10">
  <h1 class="mb-5">Datalists</h1>
  <div class="border rounded p-10 mb-5">
    <div class="mb-5">
      <!-- Begin: Default Datalist -->
      <label class="form-label">Default Datalist</label>
      <input
        class="form-control"
        list="datalistOptions"
        placeholder="Type to search..."
      />
      <datalist id="datalistOptions">
        <option value="San Francisco"></option>
        <option value="New York"></option>
        <option value="Seattle"></option>
        <option value="Los Angeles"></option>
        <option value="Chicago"></option>
      </datalist>
      <!-- End: Default Datalist -->
    </div>
  </div>
</div>
<!-- End: Datalists -->

<!-- Begin: Checks -->
<div class="mb-10">
  <h1 class="mb-5">Checks</h1>
  <div class="border rounded p-10 mb-5">
    <div class="mb-5">
      <!-- Begin: Default Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" />
        <label class="form-check-label">Default Checkbox</label>
      </div>
      <!-- End: Default Checkbox -->
    </div>

    <div class="mb-5">
      <!-- Begin: Disabled Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" disabled />
        <label class="form-check-label">Disabled Checkbox</label>
      </div>
      <!-- End: Disabled Checkbox -->
    </div>

    <div class="mb-10"></div>

    <div class="mb-5">
      <!-- Begin: Default Switch -->
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" />
        <label class="form-check-label">Default Switch</label>
      </div>
      <!-- End: Default Switch -->
    </div>

    <div class="mb-5">
      <!-- Begin: Disabled Switch -->
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" disabled />
        <label class="form-check-label">Disabled Switch</label>
      </div>
      <!-- End: Disabled Switch -->
    </div>
  </div>
</div>
<!-- End: Checks -->

<!-- Begin: References -->
<div class="mb-10">
  <h1 class="mb-5">References</h1>
  <a
    class="btn btn-primary me-3"
    href="https://preview.keenthemes.com/metronic8/demo1/documentation/base/forms/controls.html"
    target="_blank"
  >
    Metronic
  </a>
  <a
    class="btn btn-primary me-3"
    href="https://getbootstrap.com/docs/5.0/forms/form-control/"
    target="_blank"
  >
    Bootstrap
  </a>
</div>
<!-- End: References -->
