<!-- Begin: Base Alerts -->
<div class="mb-10">
  <h1 class="mb-5">Base Alerts</h1>
  <div class="border rounded p-10 mb-5">
    <!--Begin: Alert success-->
    <div class="alert alert-success d-flex align-items-center">
      <!--Icon-->
      <span
        class="svg-icon svg-icon-2hx svg-icon-success me-3"
        [inlineSVG]="'./assets/media/icons/duotune/general/gen043.svg'"
      ></span>

      <!--Begin: Wrapper-->
      <div class="d-flex flex-column">
        <!--Title-->
        <h4 class="mb-1 text-success">This is an alert</h4>

        <!--Content-->
        <span>
          The alert component can be used to highlight certain parts of your
          page for higher content visibility.
        </span>
      </div>
      <!--End: Wrapper-->
    </div>
    <!--End: Alert success-->

    <!--Begin: Alert warning-->
    <div class="alert alert-warning d-flex align-items-center">
      <!--Icon-->
      <span
        class="svg-icon svg-icon-2hx svg-icon-warning me-3"
        [inlineSVG]="'./assets/media/icons/duotune/general/gen044.svg'"
      ></span>

      <!--Begin: Wrapper-->
      <div class="d-flex flex-column">
        <!--Title-->
        <h4 class="mb-1 text-warning">This is an alert</h4>

        <!--Content-->
        <span>
          The alert component can be used to highlight certain parts of your
          page for higher content visibility.
        </span>
      </div>
      <!--End: Wrapper-->
    </div>
    <!--End: Alert warning-->

    <!--Begin: Alert danger-->
    <div class="alert alert-danger d-flex align-items-center">
      <!--Icon-->
      <span
        class="svg-icon svg-icon-2hx svg-icon-danger me-3"
        [inlineSVG]="'./assets/media/icons/duotune/general/gen040.svg'"
      ></span>

      <!--Begin: Wrapper-->
      <div class="d-flex flex-column">
        <!--Title-->
        <h4 class="mb-1 text-danger">This is an alert</h4>

        <!--Content-->
        <span>
          The alert component can be used to highlight certain parts of your
          page for higher content visibility.
        </span>
      </div>
      <!--End: Wrapper-->
    </div>
    <!--End: Alert danger-->
  </div>
</div>
<!-- End: Base Alerts -->

<!-- Begin: References -->
<div class="mb-10">
  <h1 class="mb-5">References</h1>
  <a
    class="btn btn-primary me-3"
    href="https://preview.keenthemes.com/metronic8/demo1/documentation/base/alerts.html"
    target="_blank"
  >
    Metronic
  </a>
  <a
    class="btn btn-primary me-3"
    href="https://getbootstrap.com/docs/5.0/components/alerts/"
    target="_blank"
  >
    Bootstrap
  </a>
</div>
<!-- End: References -->
