<!-- Begin: Aside mobile toggle -->
<div class="d-flex align-items-center d-lg-none ms-n3 me-1">
  <div
    id="aside_mobile_toggle"
    class="
      btn btn-icon btn-active-light-primary
      w-30px
      h-30px
      w-md-40px
      h-md-40px
    "
  >
    <span
      class="svg-icon svg-icon-2x mt-1"
      [inlineSVG]="'./assets/media/icons/duotune/abstract/abs015.svg'"
    ></span>
  </div>
</div>
<!-- End: Aside mobile toggle -->

<!-- Begin: Logo -->
<div class="flex-grow-1 d-flex align-items-center d-lg-none">
  <a routerLink="">
    <img class="h-30px" src="./assets/media/temp/logo-2.svg" />
  </a>
</div>
<!-- End: Logo -->
