<!-- Begin: Base Tabs -->
<div class="mb-10">
  <h1 class="mb-5">Base Tabs</h1>
  <div class="border rounded p-10 mb-5">
    <!-- Begin: Tab -->
    <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#tab_pane_1">
          Tab 1
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#tab_pane_2">Tab 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#tab_pane_3">Tab 3</a>
      </li>
    </ul>
    <!-- End: Tab -->

    <!-- Begin: Tab content -->
    <div class="tab-content">
      <div id="tab_pane_1" class="tab-pane fade active show" role="tabpanel">
        Tab pane 1
      </div>
      <div id="tab_pane_2" class="tab-pane fade" role="tabpanel">
        Tab pane 2
      </div>
      <div id="tab_pane_3" class="tab-pane fade" role="tabpanel">
        Tab pane 3
      </div>
    </div>
    <!-- End: Tab content -->
  </div>
</div>
<!-- End: Base Tabs -->

<!-- Begin: References -->
<div class="mb-10">
  <h1 class="mb-5">References</h1>
  <a
    class="btn btn-primary me-3"
    href="https://preview.keenthemes.com/metronic8/demo1/documentation/base/tabs.html"
    target="_blank"
  >
    Metronic
  </a>
  <a
    class="btn btn-primary me-3"
    href="https://getbootstrap.com/docs/5.0/components/navs-tabs/#tabs"
    target="_blank"
  >
    Bootstrap
  </a>
</div>
<!-- End: References -->
